<h3>Tweet:</h3>
  <%= @tweet.content %>
<form action="/tweets/<%=@tweet.id%>/delete" method="Post">
  <input type="submit" value="Delete Tweet">
</form>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
